[Unit]
Description=LSTU container
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/docker start -a lstu
ExecStartPost=/bin/sleep 1

ExecStop=/usr/bin/docker stop lstu

[Install]
WantedBy=multi-user.target

